*{
    font-family: "Manrope", sans-serif;
    font-size: 13px;
}
body{
    background-color: hsl(210, 46%, 95%);
}



.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}